/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.stats-container {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-align: center;
}

.stats-container p {
    font-size: 1.2em;
    color: #000000;
    margin: 10px 0;
}
